<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books Management App</title>
</head>
<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.authorId}">123</td>
        <td th:text="${author.firstName}">Roshan</td>
        <td th:text="${author.lastName}">Mahapatra</td>
    </tr>
</table>
</body>
</html>